<html lang="en">
    <%- include('../partials/clients/head') %>

<body>


<div class="wrapper">
    <%- include('../partials/clients/sidebar') %>

    <div class="main">
        <%- include('../partials/clients/header') %>

        <main class="content">
            <div class="container-fluid p-0">

                <h1 class="h3 mb-3">Our Products</h1>

                <div class="row">
                    <div class="col-12">

                        <div class="row">
        
                            <div class="col-sm-6">
                
                                <div class="card animate__animated animate__backInUp">
                
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">COCA COLA</h5>
                                    </div>
                                    <div class="card-body">
                
                
                                        <div class="card-img" align="center" style="width: 150px; height: 150px; line-height: 150px; border: solid 8px #4CA7B9; border-radius: 50%; overflow: hidden; margin-left: auto; margin-right: auto;">
                
                                            <img src="images/coca-cola.png" alt="" width="150" class="" height="150">
                
                                        </div>
                                        <div class="mt-4">
                                            <ul class="list-unstyled">
                                                <li class="d-flex justify-content-between">
                                                    <span>Deposit</span>
                                                    <span>₦ 3,000</span>
                                                </li>
                
                                                <li class="d-flex justify-content-between"><span>Daily income</span>
                                                    <span>₦ 900</span>
                                                </li>
                
                                                <li class="d-flex justify-content-between"><span>Run Time</span> <span>20
                                                        days</span></li>
                
                                                <li class="d-flex justify-content-between"><span>Total income</span>
                                                    <span>₦  18,000</span>
                                                </li>
                
                
                                            </ul>
                                        </div>
                
                                        <div class="mt-3 mb-3">
                                            <form action="" class="auth-form" method="post">
                                                <input type="hidden" name="id" value="coca cola">
                
                                                <button type="submit" class="btn btn-primary w-100">Invest Now!</button>
                                            </form>
                                        </div>
                
                                    </div>
                
                                </div>
                
                            </div>
                
                        
                            <div class="col-sm-6">
                
                                <div class="card animate__animated animate__backInUp">
                
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">UNITY</h5>
                                    </div>
                                    <div class="card-body">
                
                
                                        <div class="card-img" align="center" style="width: 150px; height: 150px; line-height: 150px; border: solid 8px #4CA7B9; border-radius: 50%; overflow: hidden; margin-left: auto; margin-right: auto;">
                
                                            <img src="images/unity.png" alt="" width="120" class="" height="150">
                
                                        </div>
                                        <div class="mt-4">
                                            <ul class="list-unstyled">
                                                <li class="d-flex justify-content-between">
                                                    <span>Deposit</span>
                                                    <span>₦ 5,000</span>
                                                </li>
                
                                                <li class="d-flex justify-content-between"><span>Daily income</span>
                                                    <span>₦ 1,500</span>
                                                </li>
                
                                                <li class="d-flex justify-content-between"><span>Run Time</span> <span>20
                                                        days</span></li>
                
                                                <li class="d-flex justify-content-between"><span>Total income</span>
                                                    <span>₦  30,000</span>
                                                </li>
                
                
                                            </ul>
                                        </div>
                
                                        <div class="mt-3 mb-3">
                                            <form action="" class="auth-form" method="post">
                                                <input type="hidden" name="id" value="unity">
                
                                                <button type="submit" class="btn btn-primary w-100">Invest Now!</button>
                                            </form>
                                        </div>
                
                                    </div>
                
                                </div>
                
                            </div>
                
                        
                            <div class="col-sm-6">
                
                                <div class="card animate__animated animate__backInUp">
                
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">NETFLIX</h5>
                                    </div>
                                    <div class="card-body">
                
                
                                        <div class="card-img" align="center" style="width: 150px; height: 150px; line-height: 150px; border: solid 4px #4CA7B9; border-radius: 50%; overflow: hidden; margin-left: auto; margin-right: auto;">
                
                                            <img src="images/netflix.png" alt="" width="150" class="" height="150">
                
                                        </div>
                                        <div class="mt-4">
                                            <ul class="list-unstyled">
                                                <li class="d-flex justify-content-between">
                                                    <span>Deposit</span>
                                                    <span>₦ 10,000</span>
                                                </li>
                
                                                <li class="d-flex justify-content-between"><span>Daily income</span>
                                                    <span>₦ 3,000</span>
                                                </li>
                
                                                <li class="d-flex justify-content-between"><span>Run Time</span> <span>20
                                                        days</span></li>
                
                                                <li class="d-flex justify-content-between"><span>Total income</span>
                                                    <span>₦  60,000</span>
                                                </li>
                
                
                                            </ul>
                                        </div>
                
                                        <div class="mt-3 mb-3">
                                            <form action="" class="auth-form" method="post">
                                                <input type="hidden" name="id" value="netflix">
                
                                                <button type="submit" class="btn btn-primary w-100">Invest Now!</button>
                                            </form>
                                        </div>
                
                                    </div>
                
                                </div>
                
                            </div>
                
                        
                            <div class="col-sm-6">
                
                                <div class="card animate__animated animate__backInUp">
                
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">AMAZON</h5>
                                    </div>
                                    <div class="card-body">
                
                
                                        <div class="card-img" align="center" style="width: 150px; height: 150px; line-height: 150px; border: solid 8px #4CA7B9; border-radius: 50%; overflow: hidden; margin-left: auto; margin-right: auto;">
                
                                            <img src="images/amazon.png" alt="" width="150" class="" height="150">
                
                                        </div>
                                        <div class="mt-4">
                                            <ul class="list-unstyled">
                                                <li class="d-flex justify-content-between">
                                                    <span>Deposit</span>
                                                    <span>₦ 20,000</span>
                                                </li>
                
                                                <li class="d-flex justify-content-between"><span>Daily income</span>
                                                    <span>₦ 6,000</span>
                                                </li>
                
                                                <li class="d-flex justify-content-between"><span>Run Time</span> <span>20
                                                        days</span></li>
                
                                                <li class="d-flex justify-content-between"><span>Total income</span>
                                                    <span>₦  120,000</span>
                                                </li>
                
                
                                            </ul>
                                        </div>
                
                                        <div class="mt-3 mb-3">
                                            <form action="" class="auth-form" method="post">
                                                <input type="hidden" name="id" value="amazon">
                
                                                <button type="submit" class="btn btn-primary w-100">Invest Now!</button>
                                            </form>
                                        </div>
                
                                    </div>
                
                                </div>
                
                            </div>
                
                        
                            <div class="col-sm-6">
                
                                <div class="card animate__animated animate__backInUp">
                
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">META</h5>
                                    </div>
                                    <div class="card-body">
                
                
                                        <div class="card-img" align="center" style="width: 150px; height: 150px; line-height: 150px; border: solid 8px #4CA7B9; border-radius: 50%; overflow: hidden; margin-left: auto; margin-right: auto; padding-top: 20px;">
                
                                            <img src="images/meta.jpg" alt="" width="100" class="" height="100">
                
                                        </div>
                                        <div class="mt-4">
                                            <ul class="list-unstyled">
                                                <li class="d-flex justify-content-between">
                                                    <span>Deposit</span>
                                                    <span>₦ 50,000</span>
                                                </li>
                
                                                <li class="d-flex justify-content-between"><span>Daily income</span>
                                                    <span>₦ 15,000</span>
                                                </li>
                
                                                <li class="d-flex justify-content-between"><span>Run Time</span> <span>20
                                                        days</span></li>
                
                                                <li class="d-flex justify-content-between"><span>Total income</span>
                                                    <span>₦  300,000</span>
                                                </li>
                
                
                                            </ul>
                                        </div>
                
                                        <div class="mt-3 mb-3">
                                            <form action="" class="auth-form" method="post">
                                                <input type="hidden" name="id" value="meta">
                
                                                <button type="submit" class="btn btn-primary w-100">Invest Now!</button>
                                            </form>
                                        </div>
                
                                    </div>
                
                                </div>
                
                            </div>
                
                        
                            <div class="col-sm-6">
                
                                <div class="card animate__animated animate__backInUp">
                
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">PAYPAL</h5>
                                    </div>
                                    <div class="card-body">
                
                
                                        <div class="card-img" align="center" style="width: 150px; height: 150px; line-height: 150px; border: solid 8px #4CA7B9; border-radius: 50%; overflow: hidden; margin-left: auto; margin-right: auto; padding-top: 20px;">
                
                                            <img src="images/paypal.avif" alt="" width="100" class="" height="100">
                
                                        </div>
                                        <div class="mt-4">
                                            <ul class="list-unstyled">
                                                <li class="d-flex justify-content-between">
                                                    <span>Deposit</span>
                                                    <span>₦ 100,000</span>
                                                </li>
                
                                                <li class="d-flex justify-content-between"><span>Daily income</span>
                                                    <span>₦ 30,000</span>
                                                </li>
                
                                                <li class="d-flex justify-content-between"><span>Run Time</span> <span>20
                                                        days</span></li>
                
                                                <li class="d-flex justify-content-between"><span>Total income</span>
                                                    <span>₦  600,000</span>
                                                </li>
                
                
                                            </ul>
                                        </div>
                
                                        <div class="mt-3 mb-3">
                                            <form action="" class="auth-form" method="post">
                                                <input type="hidden" name="id" value="paypal">
                
                                                <button type="submit" class="btn btn-primary w-100">Invest Now!</button>
                                            </form>
                                        </div>
                
                                    </div>
                
                                </div>
                
                            </div>
                
                        
                            <div class="col-sm-6">
                
                                <div class="card animate__animated animate__backInUp">
                
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">APPLE</h5>
                                    </div>
                                    <div class="card-body">
                
                
                                        <div class="card-img" align="center" style="width: 150px; height: 150px; line-height: 150px; border: solid 8px #4CA7B9; border-radius: 50%; overflow: hidden; margin-left: auto; margin-right: auto; padding-top: 20px;">
                
                                            <img src="images/apple.png" alt="" width="100" class="" height="100">
                
                                        </div>
                                        <div class="mt-4">
                                            <ul class="list-unstyled">
                                                <li class="d-flex justify-content-between">
                                                    <span>Deposit</span>
                                                    <span>₦ 200,000</span>
                                                </li>
                
                                                <li class="d-flex justify-content-between"><span>Daily income</span>
                                                    <span>₦ 60,000</span>
                                                </li>
                
                                                <li class="d-flex justify-content-between"><span>Run Time</span> <span>20
                                                        days</span></li>
                
                                                <li class="d-flex justify-content-between"><span>Total income</span>
                                                    <span>₦  1,200,000</span>
                                                </li>
                
                
                                            </ul>
                                        </div>
                
                                        <div class="mt-3 mb-3">
                                            <form action="" class="auth-form" method="post">
                                                <input type="hidden" name="id" value="apple">
                
                                                <button type="submit" class="btn btn-primary w-100">Invest Now!</button>
                                            </form>
                                        </div>
                
                                    </div>
                
                                </div>
                
                            </div>
                
                        
                            <div class="col-sm-6">
                
                                <div class="card animate__animated animate__backInUp">
                
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">ADOBE</h5>
                                    </div>
                                    <div class="card-body">
                
                
                                        <div class="card-img" align="center" style="width: 150px; height: 150px; line-height: 150px; border: solid 5px #4CA7B9; border-radius: 50%; overflow: hidden; margin-left: auto; margin-right: auto;">
                
                                            <img src="images/adobe.png" alt="" width="150" class="" height="150">
                
                                        </div>
                                        <div class="mt-4">
                                            <ul class="list-unstyled">
                                                <li class="d-flex justify-content-between">
                                                    <span>Deposit</span>
                                                    <span>₦ 250,000</span>
                                                </li>
                
                                                <li class="d-flex justify-content-between"><span>Daily income</span>
                                                    <span>₦ 75,000</span>
                                                </li>
                
                                                <li class="d-flex justify-content-between"><span>Run Time</span> <span>20
                                                        days</span></li>
                
                                                <li class="d-flex justify-content-between"><span>Total income</span>
                                                    <span>₦  1,500,000</span>
                                                </li>
                
                
                                            </ul>
                                        </div>
                
                                        <div class="mt-3 mb-3">
                                            <form action="" class="auth-form" method="post">
                                                <input type="hidden" name="id" value="adobe">
                
                                                <button type="submit" class="btn btn-primary w-100">Invest Now!</button>
                                            </form>
                                        </div>
                
                                    </div>
                
                                </div>
                
                            </div>
                
                        
                            <div class="col-sm-6">
                
                                <div class="card animate__animated animate__backInUp">
                
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">GOOGLE</h5>
                                    </div>
                                    <div class="card-body">
                
                
                                        <div class="card-img" align="center" style="width: 150px; height: 150px; line-height: 150px; border: solid 5px #4CA7B9; border-radius: 50%; overflow: hidden; margin-left: auto; margin-right: auto;">
                
                                            <img src="images/google.webp" alt="" width="150" class="" height="150">
                
                                        </div>
                                        <div class="mt-4">
                                            <ul class="list-unstyled">
                                                <li class="d-flex justify-content-between">
                                                    <span>Deposit</span>
                                                    <span>₦ 300,000</span>
                                                </li>
                
                                                <li class="d-flex justify-content-between"><span>Daily income</span>
                                                    <span>₦ 90,000</span>
                                                </li>
                
                                                <li class="d-flex justify-content-between"><span>Run Time</span> <span>20
                                                        days</span></li>
                
                                                <li class="d-flex justify-content-between"><span>Total income</span>
                                                    <span>₦  1,800,000</span>
                                                </li>
                
                
                                            </ul>
                                        </div>
                
                                        <div class="mt-3 mb-3">
                                            <form action="" class="auth-form" method="post">
                                                <input type="hidden" name="id" value="google">
                
                                                <button type="submit" class="btn btn-primary w-100">Invest Now!</button>
                                            </form>
                                        </div>
                
                                    </div>
                
                                </div>
                
                            </div>
                
                        
                            <div class="col-sm-6">
                
                                <div class="card animate__animated animate__backInUp">
                
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">TESLA</h5>
                                    </div>
                                    <div class="card-body">
                
                
                                        <div class="card-img" style="width: 150px; height: 150px; line-height: 150px; border: solid 8px #4CA7B9; border-radius: 50%; overflow: hidden; margin-left: auto; margin-right: auto; text-align: center; padding-top: 25px;">
                
                                            <img src="images/tesla.png" alt="" width="100" class="" height="100">
                
                                        </div>
                                        <div class="mt-4">
                                            <ul class="list-unstyled">
                                                <li class="d-flex justify-content-between">
                                                    <span>Deposit</span>
                                                    <span>₦ 500,000</span>
                                                </li>
                
                                                <li class="d-flex justify-content-between"><span>Daily income</span>
                                                    <span>₦ 150,000</span>
                                                </li>
                
                                                <li class="d-flex justify-content-between"><span>Run Time</span> <span>20
                                                        days</span></li>
                
                                                <li class="d-flex justify-content-between"><span>Total income</span>
                                                    <span>₦  3,000,000</span>
                                                </li>
                
                
                                            </ul>
                                        </div>
                
                                        <div class="mt-3 mb-3">
                                            <form action="" class="auth-form" method="post">
                                                <input type="hidden" name="id" value="tesla">
                
                                                <button type="submit" class="btn btn-primary w-100">Invest Now!</button>
                                            </form>
                                        </div>
                
                                    </div>
                
                                </div>
                
                            </div>
                
                        
                    </div>




                    </div>
                </div>

            </div>
        </main>

        <%- include('../partials/clients/footer') %>
    </div>
</div>

<!-- bootstrap js -->
<script src="js/jquery-3.4.1.min.js"></script>

<script src="js/app.js"></script>





    <!-- <script>

        (function ($) {

            "use strict";
            $('.planModal').on('click', function () {
                var modal = $('#planModal');
                modal.find('input[name=id]').val($(this).data('id'));
                modal.find($('#planModalLabel').text($(this).data('name')));
            });
            $('.copyBoard').click(function () {
                "use strict";
                var copyText = document.getElementById("referralURL");
                copyText.select();
                copyText.setSelectionRange(0, 99999);
                /*For mobile devices*/
                document.execCommand("copy");
                iziToast.success({message: "Copied: " + copyText.value, position: "topRight"});
            });
        })(jQuery);
    </script> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<%- include('../partials/clients/whatsapp') %>

<style type="text/css">
    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:80px;
        right:40px;
        background-color:#0d93e9;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        font-size:30px;
        box-shadow: 2px 2px 3px #999;
        z-index:100;
    }

    .my-float{
        margin-top:16px;
    }
</style>
<link rel="stylesheet" href="css/izitoast.min.css">
<script src="js/iziToast.min.js"></script>

<script>
	"use strict";
	function notify(status,message) {
		iziToast[status]({
			message: message,
			position: "topRight"
		});
	}

	const forms = document.querySelectorAll("form")
	forms.forEach((form) => {
		form.addEventListener("submit", async (event) => {
			event.preventDefault()

			const product = form.id.value
			const res = await fetch('/investment', {
				method: 'post',
				body: JSON.stringify({ product }),
				headers: { 'Content-Type': 'application/json' }
			})

			const data = await res.json()
			if(data.ok) location.assign('/investment-log')
			else notify("error", `${data.error}`)
		})
	})
</script>

</body></html>